*{
    padding: 0.5px;
}
:root{
    --principal-color : #759fbc;
    --secondary-color : #99c24d;
    --assent-1: #4b5842;
    --assent-2: #f3a712;
}
header{
    background-color: var(--principal-color);
    color: var(--principal-color);
    padding: 10px;
    text-align: center;
    border: 3px solid var(--assent-1);
    display: grid;
    grid-template-columns: 90px 2fr 2fr ;
    align-items: center;
    font-size: 18px;
}
header img{
    max-width: 80px;
    height: auto;
}
header h1{
    color: rgb(20, 60, 75);
    font-size: 30px;
    text-align: left;
}
.navigation{
    display: flex;
    gap: 100px;
    text-align: right;
    margin-right: 40px;
}
p{
    background-color: var(--assent-1);
    color: white;
    padding: 1%;
    text-align:center
}
 footer a{
    text-decoration: none;
}
.hero div{
    position: absolute;
}
.hero h1{
    position: absolute;
    color: var(--principal-color);
    left: 38%;
    bottom: 60%;
    font-size: 3rem;
}
.hero img{
    width: 100%;
    display: block;
    height: auto;
}

.hero article {
    position: absolute;
    top: 720px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white; 
    padding: 30px;
    max-width: 80%;
}
.hero article img {
    float: right;
    margin-left: 20px;
    max-width: 40%;
}
.hero article p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0;
    
}
.section1{
    text-align: center;
    border: 3px solid var(--assent-1);
    background-color: var(--secondary-color);
    display: grid;
    grid-template-rows: auto auto;
}
.section1 h1 {
    grid-row: 3; 
    font-size: 3em;
    margin: 0;
}
.content {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px;
    align-items: center;
}
.content img {
    height: 300px;

}
.text-left {
    text-align: center;
    order: 1;
}

.section2{
    text-align: center;
    border: 3px solid var(--assent-1);
    background-color: var(--secondary-color);
    display: grid;
    grid-template-rows: auto ;
    color: black;
}
.imgs img{
    display: flex;
    width: 210px;
}
.imgs{
    display: flex;
    align-items: center;
}
.foot{
    display:grid ;
    background-color: var(--assent-1);
    grid-template-columns: 82% 18%;
    text-align: center;
    align-items: center ;
}
.foot img{
    width: 50px;
    align-items: end;
}
.center{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.info{
    background-color: #4b5842;
    border-radius: 10px;
    display: grid;
    place-items: center;
    border: solid black 2px;
    width: 50%;
    color: white;

}
.figure{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    background-color: #5b6c4f;
    border-radius: 15px;
    border: solid black 2px;
    margin: 5px;
}
form{
    background-color: #69785e;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-style: italic;
    font-size: 1.2rem;
    padding: 5px;
    margin: 5px;
    height: 50%;
}
input[type="checkbox"]{
    width: 20px;
    height: 20px;
    vertical-align: bottom;
}
button{
    background-color:#4b5842;
    border-radius: 20px;
    font-style: italic;
    border: 2px solid black;
    color: white;
    width: 100px;
    height: 40px;
}
fieldset{
    border-radius: 10px;
    font-size: 1.6rem;
}
textarea{
    width: 500px;
    height: 200px;
}
.column{
    display: flex;  
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
}
h1{
    text-align: center;
}
.trips{
    text-align: center;
    border: 3px solid var(--assent-1);
    background-color:  #BBCEA8;
    display: grid;
    grid-template-rows: auto auto;
}
.trips h1 {
    grid-row: 3; 
    font-size: 2rem;
    margin: 0;
}
.trips img{
    float: left;
    border: solid white 3px;
    border-radius: 20px;
    margin: 5px
}
.trips p{
    font-size: 1.3rem;
}