*{
    padding: 0.5px;
}
:root{
    --principal-color : #759fbc;
    --secondary-color : #99c24d;
    --assent-1: #4b5842;
    --assent-2: #f3a712;
}
header{
    background-color: var(--principal-color);
    color: var(--principal-color);
    padding: 10px;
    text-align: center;
    border: 3px solid var(--assent-1);
    display: grid;
    grid-template-columns: 90px 3fr 2fr ;
    align-items: center;
    font-size: 18px;
}
header img{
    max-width: 80px;
    height: auto;

}
header h1{
    color: var(--assent-2);
    font-size: 30px;
    text-align: left;
}
.navigation{
    display: flex;
    gap: 100px;
    text-align: right;
}
p{
    background-color: var(--assent-1);
    color: white;
    padding: 1%;
    text-align:center
}
 footer a{
    text-decoration: none;
}
.hero div{
    position: absolute;
}
.hero h1{
    position: absolute;
    color: var(--principal-color);
    left: 38%;
    bottom: 60%;
    font-size: 3rem;
}
.hero img{
    width: 100%;
    display: block;
    height: auto;
}

.hero article {
    position: absolute;
    top: 720px;
    left: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white; 
    padding: 30px;
    max-width: 80%;
}
.hero article img {
    float: right;
    margin-left: 20px;
    max-width: 40%;
}
.hero article p {
    font-size: 1.1rem;
    line-height: 1.5;
    margin: 0;
    
}
.section1{
    text-align: center;
    border: 3px solid var(--assent-1);
    background-color: var(--secondary-color);
    display: grid;
    grid-template-rows: auto auto;
}
.section1 h1 {
    grid-row: 3; 
    font-size: 3em;
    margin: 0;
}
.content {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px;
    align-items: center;
}
.content img {
    max-width: 100%; 
    height: auto;
}
.text-left {
    text-align: center;
    order: 1;
}

.section2{
    text-align: center;
    border: 3px solid var(--assent-1);
    background-color: var(--secondary-color);
    display: grid;
    grid-template-rows: auto ;
    color: black;
}
.imgs img{
    display: flex;
    width: 210px;
}
.imgs{
    display: flex;
    align-items: center;
}
.foot{
    display:grid ;
    background-color: var(--assent-1);
    grid-template-columns: 89% 11%;
    text-align: center;
    align-items: center ;
}
.foot img{
    width: 50px;
    align-items: end;
}
